<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A-cyrl</key>
	<string>A_-cyrl.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Abreveacute</key>
	<string>A_breveacute.glif</string>
	<key>Abrevedotbelow</key>
	<string>A_brevedotbelow.glif</string>
	<key>Abrevegrave</key>
	<string>A_brevegrave.glif</string>
	<key>Abrevehookabove</key>
	<string>A_brevehookabove.glif</string>
	<key>Abrevetilde</key>
	<string>A_brevetilde.glif</string>
	<key>Acaron</key>
	<string>A_caron.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflexacute</key>
	<string>A_circumflexacute.glif</string>
	<key>Acircumflexdotbelow</key>
	<string>A_circumflexdotbelow.glif</string>
	<key>Acircumflexgrave</key>
	<string>A_circumflexgrave.glif</string>
	<key>Acircumflexhookabove</key>
	<string>A_circumflexhookabove.glif</string>
	<key>Acircumflextilde</key>
	<string>A_circumflextilde.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresismacron</key>
	<string>A_dieresismacron.glif</string>
	<key>Adotbelow</key>
	<string>A_dotbelow.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Ahookabove</key>
	<string>A_hookabove.glif</string>
	<key>Alpha-grek</key>
	<string>A_lpha-grek.glif</string>
	<key>Alphatonos-grek</key>
	<string>A_lphatonos-grek.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Be-cyrl</key>
	<string>B_e-cyrl.glif</string>
	<key>Beta-grek</key>
	<string>B_eta-grek.glif</string>
	<key>Btopbar</key>
	<string>B_topbar.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccircumflex</key>
	<string>C_circumflex.glif</string>
	<key>Cdotaccent</key>
	<string>C_dotaccent.glif</string>
	<key>Che-cyrl</key>
	<string>C_he-cyrl.glif</string>
	<key>Chi-grek</key>
	<string>C_hi-grek.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>DZ</key>
	<string>D_Z_.glif</string>
	<key>DZcaron</key>
	<string>D_Z_caron.glif</string>
	<key>Dafrican</key>
	<string>D_african.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>De-cyrl</key>
	<string>D_e-cyrl.glif</string>
	<key>Delta-grek</key>
	<string>D_elta-grek.glif</string>
	<key>Dje-cyrl</key>
	<string>D_je-cyrl.glif</string>
	<key>Dtopbar</key>
	<string>D_topbar.glif</string>
	<key>Dz</key>
	<string>D_z.glif</string>
	<key>Dzcaron</key>
	<string>D_zcaron.glif</string>
	<key>Dze-cyrl</key>
	<string>D_ze-cyrl.glif</string>
	<key>Dzhe-cyrl</key>
	<string>D_zhe-cyrl.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E-cyrl</key>
	<string>E_-cyrl.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ebreve</key>
	<string>E_breve.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflexacute</key>
	<string>E_circumflexacute.glif</string>
	<key>Ecircumflexdotbelow</key>
	<string>E_circumflexdotbelow.glif</string>
	<key>Ecircumflexgrave</key>
	<string>E_circumflexgrave.glif</string>
	<key>Ecircumflexhookabove</key>
	<string>E_circumflexhookabove.glif</string>
	<key>Ecircumflextilde</key>
	<string>E_circumflextilde.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Edotbelow</key>
	<string>E_dotbelow.glif</string>
	<key>Ef-cyrl</key>
	<string>E_f-cyrl.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Ehookabove</key>
	<string>E_hookabove.glif</string>
	<key>El-cyrl</key>
	<string>E_l-cyrl.glif</string>
	<key>Em-cyrl</key>
	<string>E_m-cyrl.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>En-cyrl</key>
	<string>E_n-cyrl.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Epsilon-grek</key>
	<string>E_psilon-grek.glif</string>
	<key>Epsilontonos-grek</key>
	<string>E_psilontonos-grek.glif</string>
	<key>Er-cyrl</key>
	<string>E_r-cyrl.glif</string>
	<key>Ereversed</key>
	<string>E_reversed.glif</string>
	<key>Es-cyrl</key>
	<string>E_s-cyrl.glif</string>
	<key>Esh</key>
	<string>E_sh.glif</string>
	<key>Eta-grek</key>
	<string>E_ta-grek.glif</string>
	<key>Etatonos-grek</key>
	<string>E_tatonos-grek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Etilde</key>
	<string>E_tilde.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>Fhook</key>
	<string>F_hook.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gamma-grek</key>
	<string>G_amma-grek.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcedilla</key>
	<string>G_cedilla.glif</string>
	<key>Gcircumflex</key>
	<string>G_circumflex.glif</string>
	<key>Gdotaccent</key>
	<string>G_dotaccent.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>Ghe-cyrl</key>
	<string>G_he-cyrl.glif</string>
	<key>Gheupturn-cyrl</key>
	<string>G_heupturn-cyrl.glif</string>
	<key>Gje-cyrl</key>
	<string>G_je-cyrl.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Ha-cyrl</key>
	<string>H_a-cyrl.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>Hcircumflex</key>
	<string>H_circumflex.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I-cyrl</key>
	<string>I_-cyrl.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Ibar</key>
	<string>I_bar.glif</string>
	<key>Ibreve</key>
	<string>I_breve.glif</string>
	<key>Ibyelorussianukrainian-cyrl</key>
	<string>I_byelorussianukrainian-cyrl.glif</string>
	<key>Icaron</key>
	<string>I_caron.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Idotbelow</key>
	<string>I_dotbelow.glif</string>
	<key>Ie-cyrl</key>
	<string>I_e-cyrl.glif</string>
	<key>Iegrave-cyrl</key>
	<string>I_egrave-cyrl.glif</string>
	<key>Ieukrainian-cyrl</key>
	<string>I_eukrainian-cyrl.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Igrave-cyrl</key>
	<string>I_grave-cyrl.glif</string>
	<key>Ihookabove</key>
	<string>I_hookabove.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Io-cyrl</key>
	<string>I_o-cyrl.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>Iota</key>
	<string>I_ota.glif</string>
	<key>Iota-grek</key>
	<string>I_ota-grek.glif</string>
	<key>Iotadialytika-grek</key>
	<string>I_otadialytika-grek.glif</string>
	<key>Iotatonos-grek</key>
	<string>I_otatonos-grek.glif</string>
	<key>Ishort-cyrl</key>
	<string>I_short-cyrl.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jcircumflex</key>
	<string>J_circumflex.glif</string>
	<key>Je-cyrl</key>
	<string>J_e-cyrl.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Ka-cyrl</key>
	<string>K_a-cyrl.glif</string>
	<key>Kappa-grek</key>
	<string>K_appa-grek.glif</string>
	<key>Kcedilla</key>
	<string>K_cedilla.glif</string>
	<key>Kje-cyrl</key>
	<string>K_je-cyrl.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>LJ</key>
	<string>L_J_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lamda-grek</key>
	<string>L_amda-grek.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcedilla</key>
	<string>L_cedilla.glif</string>
	<key>Lj</key>
	<string>L_j.glif</string>
	<key>Lje-cyrl</key>
	<string>L_je-cyrl.glif</string>
	<key>Lmiddledot</key>
	<string>L_middledot.glif</string>
	<key>Longs</key>
	<string>L_ongs.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>Mu-grek</key>
	<string>M_u-grek.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NJ</key>
	<string>N_J_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncedilla</key>
	<string>N_cedilla.glif</string>
	<key>Nj</key>
	<string>N_j.glif</string>
	<key>Nje-cyrl</key>
	<string>N_je-cyrl.glif</string>
	<key>Nlefthook</key>
	<string>N_lefthook.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Nu-grek</key>
	<string>N_u-grek.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O-cyrl</key>
	<string>O_-cyrl.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Obreve</key>
	<string>O_breve.glif</string>
	<key>Ocaron</key>
	<string>O_caron.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ocircumflexacute</key>
	<string>O_circumflexacute.glif</string>
	<key>Ocircumflexdotbelow</key>
	<string>O_circumflexdotbelow.glif</string>
	<key>Ocircumflexgrave</key>
	<string>O_circumflexgrave.glif</string>
	<key>Ocircumflexhookabove</key>
	<string>O_circumflexhookabove.glif</string>
	<key>Ocircumflextilde</key>
	<string>O_circumflextilde.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Odotbelow</key>
	<string>O_dotbelow.glif</string>
	<key>Odoubleacute</key>
	<string>O_doubleacute.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohmsign-grek</key>
	<string>O_hmsign-grek.glif</string>
	<key>Ohookabove</key>
	<string>O_hookabove.glif</string>
	<key>Ohorn</key>
	<string>O_horn.glif</string>
	<key>Ohornacute</key>
	<string>O_hornacute.glif</string>
	<key>Ohorndotbelow</key>
	<string>O_horndotbelow.glif</string>
	<key>Ohorngrave</key>
	<string>O_horngrave.glif</string>
	<key>Ohornhookabove</key>
	<string>O_hornhookabove.glif</string>
	<key>Ohorntilde</key>
	<string>O_horntilde.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omega-grek</key>
	<string>O_mega-grek.glif</string>
	<key>Omegatonos-grek</key>
	<string>O_megatonos-grek.glif</string>
	<key>Omicron-grek</key>
	<string>O_micron-grek.glif</string>
	<key>Omicrontonos-grek</key>
	<string>O_microntonos-grek.glif</string>
	<key>Omiddletilde</key>
	<string>O_middletilde.glif</string>
	<key>Oopen</key>
	<string>O_open.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Pe-cyrl</key>
	<string>P_e-cyrl.glif</string>
	<key>Phi-grek</key>
	<string>P_hi-grek.glif</string>
	<key>Pi-grek</key>
	<string>P_i-grek.glif</string>
	<key>Psi-grek</key>
	<string>P_si-grek.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcedilla</key>
	<string>R_cedilla.glif</string>
	<key>Rho-grek</key>
	<string>R_ho-grek.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scircumflex</key>
	<string>S_circumflex.glif</string>
	<key>Sha-cyrl</key>
	<string>S_ha-cyrl.glif</string>
	<key>Shcha-cyrl</key>
	<string>S_hcha-cyrl.glif</string>
	<key>Sigma-grek</key>
	<string>S_igma-grek.glif</string>
	<key>Signhard-cyrl</key>
	<string>S_ignhard-cyrl.glif</string>
	<key>Signsoft-cyrl</key>
	<string>S_ignsoft-cyrl.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tau-grek</key>
	<string>T_au-grek.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>Te-cyrl</key>
	<string>T_e-cyrl.glif</string>
	<key>Theta-grek</key>
	<string>T_heta-grek.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>Tse-cyrl</key>
	<string>T_se-cyrl.glif</string>
	<key>Tshe-cyrl</key>
	<string>T_she-cyrl.glif</string>
	<key>Twotone</key>
	<string>T_wotone.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U-cyrl</key>
	<string>U_-cyrl.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ubreve</key>
	<string>U_breve.glif</string>
	<key>Ucaron</key>
	<string>U_caron.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Udieresisacute</key>
	<string>U_dieresisacute.glif</string>
	<key>Udieresiscaron</key>
	<string>U_dieresiscaron.glif</string>
	<key>Udieresisgrave</key>
	<string>U_dieresisgrave.glif</string>
	<key>Udieresismacron</key>
	<string>U_dieresismacron.glif</string>
	<key>Udotbelow</key>
	<string>U_dotbelow.glif</string>
	<key>Udoubleacute</key>
	<string>U_doubleacute.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhookabove</key>
	<string>U_hookabove.glif</string>
	<key>Uhorn</key>
	<string>U_horn.glif</string>
	<key>Uhornacute</key>
	<string>U_hornacute.glif</string>
	<key>Uhorndotbelow</key>
	<string>U_horndotbelow.glif</string>
	<key>Uhorngrave</key>
	<string>U_horngrave.glif</string>
	<key>Uhornhookabove</key>
	<string>U_hornhookabove.glif</string>
	<key>Uhorntilde</key>
	<string>U_horntilde.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Upsilon</key>
	<string>U_psilon.glif</string>
	<key>Upsilon-grek</key>
	<string>U_psilon-grek.glif</string>
	<key>Upsilondialytika-grek</key>
	<string>U_psilondialytika-grek.glif</string>
	<key>Upsilontonos-grek</key>
	<string>U_psilontonos-grek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>Ushort-cyrl</key>
	<string>U_short-cyrl.glif</string>
	<key>Utilde</key>
	<string>U_tilde.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>Ve-cyrl</key>
	<string>V_e-cyrl.glif</string>
	<key>Vturned</key>
	<string>V_turned.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Xi-grek</key>
	<string>X_i-grek.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Ya-cyrl</key>
	<string>Y_a-cyrl.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydotbelow</key>
	<string>Y_dotbelow.glif</string>
	<key>Yeru-cyrl</key>
	<string>Y_eru-cyrl.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Yhookabove</key>
	<string>Y_hookabove.glif</string>
	<key>Yi-cyrl</key>
	<string>Y_i-cyrl.glif</string>
	<key>Ytilde</key>
	<string>Y_tilde.glif</string>
	<key>Yu-cyrl</key>
	<string>Y_u-cyrl.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zbar</key>
	<string>Z_bar.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>Ze-cyrl</key>
	<string>Z_e-cyrl.glif</string>
	<key>Zeta-grek</key>
	<string>Z_eta-grek.glif</string>
	<key>Zhe-cyrl</key>
	<string>Z_he-cyrl.glif</string>
	<key>__AE</key>
	<string>__A_E_.glif</string>
	<key>__AE_2</key>
	<string>__A_E__2.glif</string>
	<key>__Abreveacute</key>
	<string>__A_breveacute.glif</string>
	<key>__Abrevegrave</key>
	<string>__A_brevegrave.glif</string>
	<key>__Abrevehookabove</key>
	<string>__A_brevehookabove.glif</string>
	<key>__Abrevetilde</key>
	<string>__A_brevetilde.glif</string>
	<key>__Acircumflexacute</key>
	<string>__A_circumflexacute.glif</string>
	<key>__Acircumflexgrave</key>
	<string>__A_circumflexgrave.glif</string>
	<key>__Acircumflexhookabove</key>
	<string>__A_circumflexhookabove.glif</string>
	<key>__Acircumflextilde</key>
	<string>__A_circumflextilde.glif</string>
	<key>__Be-cyrl</key>
	<string>__B_e-cyrl.glif</string>
	<key>__Be-cyrl_2</key>
	<string>__B_e-cyrl_2.glif</string>
	<key>__Dje-cyrl</key>
	<string>__D_je-cyrl.glif</string>
	<key>__Dtopbar</key>
	<string>__D_topbar.glif</string>
	<key>__El-cyrl</key>
	<string>__E_l-cyrl.glif</string>
	<key>__Eth</key>
	<string>__E_th.glif</string>
	<key>__Gheupturn-cyrl</key>
	<string>__G_heupturn-cyrl.glif</string>
	<key>__Hbar</key>
	<string>__H_bar.glif</string>
	<key>__Nje-cyrl</key>
	<string>__N_je-cyrl.glif</string>
	<key>__Oslash</key>
	<string>__O_slash.glif</string>
	<key>__Signhard-cyrl</key>
	<string>__S_ignhard-cyrl.glif</string>
	<key>__Theta-grek</key>
	<string>__T_heta-grek.glif</string>
	<key>__Tse-cyrl</key>
	<string>__T_se-cyrl.glif</string>
	<key>__Tse-cyrl_2</key>
	<string>__T_se-cyrl_2.glif</string>
	<key>__Tshe-cyrl</key>
	<string>__T_she-cyrl.glif</string>
	<key>__Udieresisacute</key>
	<string>__U_dieresisacute.glif</string>
	<key>__Udieresismacron</key>
	<string>__U_dieresismacron.glif</string>
	<key>__cent</key>
	<string>__cent.glif</string>
	<key>__copyright</key>
	<string>__copyright.glif</string>
	<key>__copyright_2</key>
	<string>__copyright_2.glif</string>
	<key>__dcroat</key>
	<string>__dcroat.glif</string>
	<key>__dollar</key>
	<string>__dollar.glif</string>
	<key>__el-cyrl</key>
	<string>__el-cyrl.glif</string>
	<key>__eng</key>
	<string>__eng.glif</string>
	<key>__f</key>
	<string>__f.glif</string>
	<key>__lshash</key>
	<string>__lshash.glif</string>
	<key>__nje-cyrl</key>
	<string>__nje-cyrl.glif</string>
	<key>__oslash</key>
	<string>__oslash.glif</string>
	<key>__qsmallcapital</key>
	<string>__qsmallcapital.glif</string>
	<key>__registered</key>
	<string>__registered.glif</string>
	<key>__signhard-cyrl</key>
	<string>__signhard-cyrl.glif</string>
	<key>__sterling</key>
	<string>__sterling.glif</string>
	<key>__sterling_2</key>
	<string>__sterling_2.glif</string>
	<key>__tbar</key>
	<string>__tbar.glif</string>
	<key>__tse-cyrl</key>
	<string>__tse-cyrl.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a-cyrl</key>
	<string>a-cyrl.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreveacute</key>
	<string>abreveacute.glif</string>
	<key>abrevedotbelow</key>
	<string>abrevedotbelow.glif</string>
	<key>abrevegrave</key>
	<string>abrevegrave.glif</string>
	<key>abrevehookabove</key>
	<string>abrevehookabove.glif</string>
	<key>abrevetilde</key>
	<string>abrevetilde.glif</string>
	<key>acaron</key>
	<string>acaron.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflexacute</key>
	<string>acircumflexacute.glif</string>
	<key>acircumflexdotbelow</key>
	<string>acircumflexdotbelow.glif</string>
	<key>acircumflexgrave</key>
	<string>acircumflexgrave.glif</string>
	<key>acircumflexhookabove</key>
	<string>acircumflexhookabove.glif</string>
	<key>acircumflextilde</key>
	<string>acircumflextilde.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecombsmall</key>
	<string>acutecombsmall.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresismacron</key>
	<string>adieresismacron.glif</string>
	<key>adotbelow</key>
	<string>adotbelow.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ahookabove</key>
	<string>ahookabove.glif</string>
	<key>almostequalto</key>
	<string>almostequalto.glif</string>
	<key>alpha</key>
	<string>alpha.glif</string>
	<key>alpha-grek</key>
	<string>alpha-grek.glif</string>
	<key>alphatonos-grek</key>
	<string>alphatonos-grek.glif</string>
	<key>alphaturned</key>
	<string>alphaturned.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asmallcapital</key>
	<string>asmallcapital.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>aturned</key>
	<string>aturned.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bbar</key>
	<string>bbar.glif</string>
	<key>be-cyrl</key>
	<string>be-cyrl.glif</string>
	<key>beta-grek</key>
	<string>beta-grek.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bsmallcapital</key>
	<string>bsmallcapital.glif</string>
	<key>btopbar</key>
	<string>btopbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>che-cyrl</key>
	<string>che-cyrl.glif</string>
	<key>chi-grek</key>
	<string>chi-grek.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>csmallcapital</key>
	<string>csmallcapital.glif</string>
	<key>cuberoot</key>
	<string>cuberoot.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>de-cyrl</key>
	<string>de-cyrl.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>degreecelsius</key>
	<string>degreecelsius.glif</string>
	<key>degreefahrenheit</key>
	<string>degreefahrenheit.glif</string>
	<key>delta-grek</key>
	<string>delta-grek.glif</string>
	<key>deltaturned</key>
	<string>deltaturned.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dje-cyrl</key>
	<string>dje-cyrl.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dotbelowcomb</key>
	<string>dotbelowcomb.glif</string>
	<key>doubleacutecomb</key>
	<string>doubleacutecomb.glif</string>
	<key>doublegravecomb</key>
	<string>doublegravecomb.glif</string>
	<key>dsmallcapital</key>
	<string>dsmallcapital.glif</string>
	<key>dtopbar</key>
	<string>dtopbar.glif</string>
	<key>dz</key>
	<string>dz.glif</string>
	<key>dzcaron</key>
	<string>dzcaron.glif</string>
	<key>dzdigraph</key>
	<string>dzdigraph.glif</string>
	<key>dze-cyrl</key>
	<string>dze-cyrl.glif</string>
	<key>dzhe-cyrl</key>
	<string>dzhe-cyrl.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e-cyrl</key>
	<string>e-cyrl.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflexacute</key>
	<string>ecircumflexacute.glif</string>
	<key>ecircumflexdotbelow</key>
	<string>ecircumflexdotbelow.glif</string>
	<key>ecircumflexgrave</key>
	<string>ecircumflexgrave.glif</string>
	<key>ecircumflexhookabove</key>
	<string>ecircumflexhookabove.glif</string>
	<key>ecircumflextilde</key>
	<string>ecircumflextilde.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotbelow</key>
	<string>edotbelow.glif</string>
	<key>ef-cyrl</key>
	<string>ef-cyrl.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>ehookabove</key>
	<string>ehookabove.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.lf</key>
	<string>eight.lf.glif</string>
	<key>eight.osf</key>
	<string>eight.osf.glif</string>
	<key>eight.tf</key>
	<string>eight.tf.glif</string>
	<key>eight.tosf</key>
	<string>eight.tosf.glif</string>
	<key>eightinferior</key>
	<string>eightinferior.glif</string>
	<key>eightsuperior</key>
	<string>eightsuperior.glif</string>
	<key>el-cyrl</key>
	<string>el-cyrl.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>em-cyrl</key>
	<string>em-cyrl.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>en-cyrl</key>
	<string>en-cyrl.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eopen</key>
	<string>eopen.glif</string>
	<key>epsilon-grek</key>
	<string>epsilon-grek.glif</string>
	<key>epsilontonos-grek</key>
	<string>epsilontonos-grek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>er-cyrl</key>
	<string>er-cyrl.glif</string>
	<key>ereversed</key>
	<string>ereversed.glif</string>
	<key>ereversedopen</key>
	<string>ereversedopen.glif</string>
	<key>es-cyrl</key>
	<string>es-cyrl.glif</string>
	<key>esh</key>
	<string>esh.glif</string>
	<key>esmallcapital</key>
	<string>esmallcapital.glif</string>
	<key>eta-grek</key>
	<string>eta-grek.glif</string>
	<key>etatonos-grek</key>
	<string>etatonos-grek.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>etilde</key>
	<string>etilde.glif</string>
	<key>eturned</key>
	<string>eturned.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fengdigraph</key>
	<string>fengdigraph.glif</string>
	<key>fhook</key>
	<string>fhook.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>finalsigma-grek</key>
	<string>finalsigma-grek.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.lf</key>
	<string>five.lf.glif</string>
	<key>five.osf</key>
	<string>five.osf.glif</string>
	<key>five.tf</key>
	<string>five.tf.glif</string>
	<key>five.tosf</key>
	<string>five.tosf.glif</string>
	<key>fiveeighths</key>
	<string>fiveeighths.glif</string>
	<key>fiveinferior</key>
	<string>fiveinferior.glif</string>
	<key>fivesixths</key>
	<string>fivesixths.glif</string>
	<key>fivesuperior</key>
	<string>fivesuperior.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.lf</key>
	<string>four.lf.glif</string>
	<key>four.osf</key>
	<string>four.osf.glif</string>
	<key>four.tf</key>
	<string>four.tf.glif</string>
	<key>four.tosf</key>
	<string>four.tosf.glif</string>
	<key>fourfifths</key>
	<string>fourfifths.glif</string>
	<key>fourinferior</key>
	<string>fourinferior.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fourthroot</key>
	<string>fourthroot.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>fractionnumeratorone</key>
	<string>fractionnumeratorone.glif</string>
	<key>frenchfrancsign</key>
	<string>frenchfrancsign.glif</string>
	<key>fsmallcapital</key>
	<string>fsmallcapital.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gamma-grek</key>
	<string>gamma-grek.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcedilla</key>
	<string>gcedilla.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>ghe-cyrl</key>
	<string>ghe-cyrl.glif</string>
	<key>gheupturn-cyrl</key>
	<string>gheupturn-cyrl.glif</string>
	<key>gje-cyrl</key>
	<string>gje-cyrl.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecombsmall</key>
	<string>gravecombsmall.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterthanorequalto</key>
	<string>greaterthanorequalto.glif</string>
	<key>greekanoteleia</key>
	<string>greekanoteleia.glif</string>
	<key>greekdialytikatonosmod</key>
	<string>greekdialytikatonosmod.glif</string>
	<key>gscript</key>
	<string>gscript.glif</string>
	<key>gsmallcapital</key>
	<string>gsmallcapital.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>ha-cyrl</key>
	<string>ha-cyrl.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hookcomb</key>
	<string>hookcomb.glif</string>
	<key>hookcombsmall</key>
	<string>hookcombsmall.glif</string>
	<key>horncomb</key>
	<string>horncomb.glif</string>
	<key>hsmallcapital</key>
	<string>hsmallcapital.glif</string>
	<key>hyphenminus</key>
	<string>hyphenminus.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i-cyrl</key>
	<string>i-cyrl.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>ibyelorussianukrainian-cyrl</key>
	<string>ibyelorussianukrainian-cyrl.glif</string>
	<key>icaron</key>
	<string>icaron.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotbelow</key>
	<string>idotbelow.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>ie-cyrl</key>
	<string>ie-cyrl.glif</string>
	<key>iegrave-cyrl</key>
	<string>iegrave-cyrl.glif</string>
	<key>ieukrainian-cyrl</key>
	<string>ieukrainian-cyrl.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>igrave-cyrl</key>
	<string>igrave-cyrl.glif</string>
	<key>ihookabove</key>
	<string>ihookabove.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>increment</key>
	<string>increment.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>io-cyrl</key>
	<string>io-cyrl.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>iota-grek</key>
	<string>iota-grek.glif</string>
	<key>iotadialytika-grek</key>
	<string>iotadialytika-grek.glif</string>
	<key>iotadialytikatonos-grek</key>
	<string>iotadialytikatonos-grek.glif</string>
	<key>iotatonos-grek</key>
	<string>iotatonos-grek.glif</string>
	<key>ishort-cyrl</key>
	<string>ishort-cyrl.glif</string>
	<key>ismallcapital</key>
	<string>ismallcapital.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>je-cyrl</key>
	<string>je-cyrl.glif</string>
	<key>jsmallcapital</key>
	<string>jsmallcapital.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>ka-cyrl</key>
	<string>ka-cyrl.glif</string>
	<key>kappa-grek</key>
	<string>kappa-grek.glif</string>
	<key>kappasymbol-grek</key>
	<string>kappasymbol-grek.glif</string>
	<key>kcedilla</key>
	<string>kcedilla.glif</string>
	<key>kje-cyrl</key>
	<string>kje-cyrl.glif</string>
	<key>kra</key>
	<string>kra.glif</string>
	<key>ksmallcapital</key>
	<string>ksmallcapital.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lamda-grek</key>
	<string>lamda-grek.glif</string>
	<key>lbar</key>
	<string>lbar.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcedilla</key>
	<string>lcedilla.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessthanorequalto</key>
	<string>lessthanorequalto.glif</string>
	<key>lirasign</key>
	<string>lirasign.glif</string>
	<key>lj</key>
	<string>lj.glif</string>
	<key>lje-cyrl</key>
	<string>lje-cyrl.glif</string>
	<key>lmiddledot</key>
	<string>lmiddledot.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>lsmallcapital</key>
	<string>lsmallcapital.glif</string>
	<key>lunateepsilonsymbol-grek</key>
	<string>lunateepsilonsymbol-grek.glif</string>
	<key>lzdigraph</key>
	<string>lzdigraph.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>middotcomb</key>
	<string>middotcomb.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>msmallcapital</key>
	<string>msmallcapital.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>mu-grek</key>
	<string>mu-grek.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>naryproduct</key>
	<string>naryproduct.glif</string>
	<key>narysummation</key>
	<string>narysummation.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncedilla</key>
	<string>ncedilla.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.lf</key>
	<string>nine.lf.glif</string>
	<key>nine.osf</key>
	<string>nine.osf.glif</string>
	<key>nine.tf</key>
	<string>nine.tf.glif</string>
	<key>nine.tosf</key>
	<string>nine.tosf.glif</string>
	<key>nineinferior</key>
	<string>nineinferior.glif</string>
	<key>ninesuperior</key>
	<string>ninesuperior.glif</string>
	<key>nj</key>
	<string>nj.glif</string>
	<key>nje-cyrl</key>
	<string>nje-cyrl.glif</string>
	<key>nlongrightleg</key>
	<string>nlongrightleg.glif</string>
	<key>nsmallcapital</key>
	<string>nsmallcapital.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nu-grek</key>
	<string>nu-grek.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numerosign</key>
	<string>numerosign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o-cyrl</key>
	<string>o-cyrl.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocaron</key>
	<string>ocaron.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflexacute</key>
	<string>ocircumflexacute.glif</string>
	<key>ocircumflexdotbelow</key>
	<string>ocircumflexdotbelow.glif</string>
	<key>ocircumflexgrave</key>
	<string>ocircumflexgrave.glif</string>
	<key>ocircumflexhookabove</key>
	<string>ocircumflexhookabove.glif</string>
	<key>ocircumflextilde</key>
	<string>ocircumflextilde.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odotbelow</key>
	<string>odotbelow.glif</string>
	<key>odoubleacute</key>
	<string>odoubleacute.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohookabove</key>
	<string>ohookabove.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>ohornacute</key>
	<string>ohornacute.glif</string>
	<key>ohorndotbelow</key>
	<string>ohorndotbelow.glif</string>
	<key>ohorngrave</key>
	<string>ohorngrave.glif</string>
	<key>ohornhookabove</key>
	<string>ohornhookabove.glif</string>
	<key>ohorntilde</key>
	<string>ohorntilde.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>omega-grek</key>
	<string>omega-grek.glif</string>
	<key>omegatonos-grek</key>
	<string>omegatonos-grek.glif</string>
	<key>omicron-grek</key>
	<string>omicron-grek.glif</string>
	<key>omicrontonos-grek</key>
	<string>omicrontonos-grek.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.lf</key>
	<string>one.lf.glif</string>
	<key>one.osf</key>
	<string>one.osf.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>one.tosf</key>
	<string>one.tosf.glif</string>
	<key>oneeighth</key>
	<string>oneeighth.glif</string>
	<key>onefifth</key>
	<string>onefifth.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>oneinferior</key>
	<string>oneinferior.glif</string>
	<key>oneninth</key>
	<string>oneninth.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>oneseventh</key>
	<string>oneseventh.glif</string>
	<key>onesixth</key>
	<string>onesixth.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>onetenth</key>
	<string>onetenth.glif</string>
	<key>onethird</key>
	<string>onethird.glif</string>
	<key>oopen</key>
	<string>oopen.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>osmallcapital</key>
	<string>osmallcapital.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdifferential</key>
	<string>partialdifferential.glif</string>
	<key>pe-cyrl</key>
	<string>pe-cyrl.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>pesetasign</key>
	<string>pesetasign.glif</string>
	<key>phi</key>
	<string>phi.glif</string>
	<key>phi-grek</key>
	<string>phi-grek.glif</string>
	<key>phisymbol-grek</key>
	<string>phisymbol-grek.glif</string>
	<key>pi-grek</key>
	<string>pi-grek.glif</string>
	<key>pisymbol-grek</key>
	<string>pisymbol-grek.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>primecomb</key>
	<string>primecomb.glif</string>
	<key>psi-grek</key>
	<string>psi-grek.glif</string>
	<key>psmallcapital</key>
	<string>psmallcapital.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qsmallcapital</key>
	<string>qsmallcapital.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>questiongreek</key>
	<string>questiongreek.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcedilla</key>
	<string>rcedilla.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>rho-grek</key>
	<string>rho-grek.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>rinvertedsmallcapital</key>
	<string>rinvertedsmallcapital.glif</string>
	<key>rsmallcapital</key>
	<string>rsmallcapital.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>schwa</key>
	<string>schwa.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.lf</key>
	<string>seven.lf.glif</string>
	<key>seven.osf</key>
	<string>seven.osf.glif</string>
	<key>seven.tf</key>
	<string>seven.tf.glif</string>
	<key>seven.tosf</key>
	<string>seven.tosf.glif</string>
	<key>seveneighths</key>
	<string>seveneighths.glif</string>
	<key>seveninferior</key>
	<string>seveninferior.glif</string>
	<key>sevensuperior</key>
	<string>sevensuperior.glif</string>
	<key>sha-cyrl</key>
	<string>sha-cyrl.glif</string>
	<key>shcha-cyrl</key>
	<string>shcha-cyrl.glif</string>
	<key>sigma-grek</key>
	<string>sigma-grek.glif</string>
	<key>signhard-cyrl</key>
	<string>signhard-cyrl.glif</string>
	<key>signsoft-cyrl</key>
	<string>signsoft-cyrl.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.lf</key>
	<string>six.lf.glif</string>
	<key>six.osf</key>
	<string>six.osf.glif</string>
	<key>six.tf</key>
	<string>six.tf.glif</string>
	<key>six.tosf</key>
	<string>six.tosf.glif</string>
	<key>sixinferior</key>
	<string>sixinferior.glif</string>
	<key>sixsuperior</key>
	<string>sixsuperior.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>squareroot</key>
	<string>squareroot.glif</string>
	<key>ssmallcapital</key>
	<string>ssmallcapital.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>strokelongcomb</key>
	<string>strokelongcomb.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tau-grek</key>
	<string>tau-grek.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>te-cyrl</key>
	<string>te-cyrl.glif</string>
	<key>telephonesign</key>
	<string>telephonesign.glif</string>
	<key>teshdigraph</key>
	<string>teshdigraph.glif</string>
	<key>theta-grek</key>
	<string>theta-grek.glif</string>
	<key>thetasymbol-grek</key>
	<string>thetasymbol-grek.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.lf</key>
	<string>three.lf.glif</string>
	<key>three.osf</key>
	<string>three.osf.glif</string>
	<key>three.tf</key>
	<string>three.tf.glif</string>
	<key>three.tosf</key>
	<string>three.tosf.glif</string>
	<key>threeeighths</key>
	<string>threeeighths.glif</string>
	<key>threeemdash</key>
	<string>threeemdash.glif</string>
	<key>threefifths</key>
	<string>threefifths.glif</string>
	<key>threeinferior</key>
	<string>threeinferior.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tonosmod-grek</key>
	<string>tonosmod-grek.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>tsdigraph</key>
	<string>tsdigraph.glif</string>
	<key>tse-cyrl</key>
	<string>tse-cyrl.glif</string>
	<key>tshe-cyrl</key>
	<string>tshe-cyrl.glif</string>
	<key>tsmallcapital</key>
	<string>tsmallcapital.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.lf</key>
	<string>two.lf.glif</string>
	<key>two.osf</key>
	<string>two.osf.glif</string>
	<key>two.tf</key>
	<string>two.tf.glif</string>
	<key>two.tosf</key>
	<string>two.tosf.glif</string>
	<key>twobar</key>
	<string>twobar.glif</string>
	<key>twoemdash</key>
	<string>twoemdash.glif</string>
	<key>twofifths</key>
	<string>twofifths.glif</string>
	<key>twoinferior</key>
	<string>twoinferior.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>twothirds</key>
	<string>twothirds.glif</string>
	<key>twotone</key>
	<string>twotone.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u-cyrl</key>
	<string>u-cyrl.glif</string>
	<key>uF000</key>
	<string>uF_000.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucaron</key>
	<string>ucaron.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresisacute</key>
	<string>udieresisacute.glif</string>
	<key>udieresiscaron</key>
	<string>udieresiscaron.glif</string>
	<key>udieresisgrave</key>
	<string>udieresisgrave.glif</string>
	<key>udieresismacron</key>
	<string>udieresismacron.glif</string>
	<key>udotbelow</key>
	<string>udotbelow.glif</string>
	<key>udoubleacute</key>
	<string>udoubleacute.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhookabove</key>
	<string>uhookabove.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>uhornacute</key>
	<string>uhornacute.glif</string>
	<key>uhorndotbelow</key>
	<string>uhorndotbelow.glif</string>
	<key>uhorngrave</key>
	<string>uhorngrave.glif</string>
	<key>uhornhookabove</key>
	<string>uhornhookabove.glif</string>
	<key>uhorntilde</key>
	<string>uhorntilde.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>upsilon-grek</key>
	<string>upsilon-grek.glif</string>
	<key>upsilondialytika-grek</key>
	<string>upsilondialytika-grek.glif</string>
	<key>upsilondialytikatonos-grek</key>
	<string>upsilondialytikatonos-grek.glif</string>
	<key>upsilontonos-grek</key>
	<string>upsilontonos-grek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>ushort-cyrl</key>
	<string>ushort-cyrl.glif</string>
	<key>usmallcapital</key>
	<string>usmallcapital.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>ve-cyrl</key>
	<string>ve-cyrl.glif</string>
	<key>vsmallcapital</key>
	<string>vsmallcapital.glif</string>
	<key>vturned</key>
	<string>vturned.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wsmallcapital</key>
	<string>wsmallcapital.glif</string>
	<key>wturned</key>
	<string>wturned.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>xi-grek</key>
	<string>xi-grek.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>ya-cyrl</key>
	<string>ya-cyrl.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydotbelow</key>
	<string>ydotbelow.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yeru-cyrl</key>
	<string>yeru-cyrl.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>yhookabove</key>
	<string>yhookabove.glif</string>
	<key>yi-cyrl</key>
	<string>yi-cyrl.glif</string>
	<key>ysmallcapital</key>
	<string>ysmallcapital.glif</string>
	<key>ytilde</key>
	<string>ytilde.glif</string>
	<key>yu-cyrl</key>
	<string>yu-cyrl.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zbar</key>
	<string>zbar.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>ze-cyrl</key>
	<string>ze-cyrl.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.lf</key>
	<string>zero.lf.glif</string>
	<key>zero.osf</key>
	<string>zero.osf.glif</string>
	<key>zero.tf</key>
	<string>zero.tf.glif</string>
	<key>zero.tosf</key>
	<string>zero.tosf.glif</string>
	<key>zeroinferior</key>
	<string>zeroinferior.glif</string>
	<key>zerosuperior</key>
	<string>zerosuperior.glif</string>
	<key>zerothirds</key>
	<string>zerothirds.glif</string>
	<key>zeta-grek</key>
	<string>zeta-grek.glif</string>
	<key>zhe-cyrl</key>
	<string>zhe-cyrl.glif</string>
	<key>zsmallcapital</key>
	<string>zsmallcapital.glif</string>
</dict>
</plist>
