<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adieresismacron</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Vturned</string>
		<string>A-cyrl</string>
		<string>Alpha-grek</string>
		<string>Delta-grek</string>
		<string>Lamda-grek</string>
		<string>Alphatonos-grek</string>
	</array>
	<key>public.kern1.Asmall</key>
	<array>
		<string>asmallcapital</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Es-cyrl</string>
		<string>zeta-grek</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>Dafrican</string>
		<string>Eth</string>
		<string>Dcroat</string>
	</array>
	<key>public.kern1.Dsmall</key>
	<array>
		<string>dsmallcapital</string>
	</array>
	<key>public.kern1.E-cyrl</key>
	<array>
		<string>E-cyrl</string>
	</array>
	<key>public.kern1.Ef-cyrl</key>
	<array>
		<string>Ef-cyrl</string>
		<string>Phi-grek</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>Fhook</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcedilla</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
	</array>
	<key>public.kern1.Gsmall</key>
	<array>
		<string>gsmallcapital</string>
	</array>
	<key>public.kern1.Jturned</key>
	<array>
		<string>esh</string>
		<string>longs</string>
		<string>teshdigraph</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>Ka-cyrl</string>
		<string>Kje-cyrl</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcedilla</string>
	</array>
	<key>public.kern1.Lsmall</key>
	<array>
		<string>lsmallcapital</string>
	</array>
	<key>public.kern1.M</key>
	<array>
		<string>M</string>
		<string>Em-cyrl</string>
		<string>Mu-grek</string>
	</array>
	<key>public.kern1.Msmall</key>
	<array>
		<string>msmallcapital</string>
		<string>em-cyrl</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>Dcaron</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Odoubleacute</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Omacron</string>
		<string>Omiddletilde</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>O-cyrl</string>
		<string>Yu-cyrl</string>
		<string>Theta-grek</string>
		<string>Omicron-grek</string>
		<string>Omicrontonos-grek</string>
	</array>
	<key>public.kern1.Omega-grek</key>
	<array>
		<string>Omega-grek</string>
		<string>Omegatonos-grek</string>
	</array>
	<key>public.kern1.Oopen</key>
	<array>
		<string>Oopen</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>Er-cyrl</string>
		<string>Rho-grek</string>
	</array>
	<key>public.kern1.Psi-grek</key>
	<array>
		<string>Psi-grek</string>
	</array>
	<key>public.kern1.Psmall</key>
	<array>
		<string>psmallcapital</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcedilla</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Ghe-cyrl</string>
		<string>Gje-cyrl</string>
		<string>Gheupturn-cyrl</string>
		<string>Te-cyrl</string>
		<string>Gamma-grek</string>
		<string>Tau-grek</string>
	</array>
	<key>public.kern1.Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>public.kern1.Tse-cyrl</key>
	<array>
		<string>Tse-cyrl</string>
		<string>Shcha-cyrl</string>
	</array>
	<key>public.kern1.Tshe-cyrl</key>
	<array>
		<string>Tshe-cyrl</string>
		<string>Dje-cyrl</string>
	</array>
	<key>public.kern1.Tsmall</key>
	<array>
		<string>tsmallcapital</string>
		<string>te-cyrl</string>
		<string>tau-grek</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Udoubleacute</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Upsilon</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern1.U-cyrl</key>
	<array>
		<string>U-cyrl</string>
		<string>Ushort-cyrl</string>
	</array>
	<key>public.kern1.Usmall</key>
	<array>
		<string>usmallcapital</string>
		<string>upsilon-grek</string>
		<string>upsilontonos-grek</string>
	</array>
	<key>public.kern1.Usmall_</key>
	<array>
		<string>upsilondialytika-grek</string>
		<string>upsilondialytikatonos-grek</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wcircumflex</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>K</string>
		<string>Kcedilla</string>
		<string>X</string>
		<string>Zhe-cyrl</string>
		<string>Ha-cyrl</string>
		<string>Kappa-grek</string>
		<string>Chi-grek</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Upsilon-grek</string>
		<string>Upsilontonos-grek</string>
		<string>Upsilondialytika-grek</string>
	</array>
	<key>public.kern1.Ysmall</key>
	<array>
		<string>ysmallcapital</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>DZ</string>
		<string>DZcaron</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zeta-grek</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>adotbelow</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>a-cyrl</string>
	</array>
	<key>public.kern1.a_</key>
	<array>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adieresismacron</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>amacron</string>
		<string>atilde</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
		<string>Signsoft-cyrl</string>
		<string>Signhard-cyrl</string>
		<string>Lje-cyrl</string>
		<string>Nje-cyrl</string>
	</array>
	<key>public.kern1.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>csmallcapital</string>
		<string>es-cyrl</string>
		<string>finalsigma-grek</string>
	</array>
	<key>public.kern1.c_</key>
	<array>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.ghe-cyrl</key>
	<array>
		<string>ghe-cyrl</string>
		<string>gheupturn-cyrl</string>
	</array>
	<key>public.kern1.ghe-cyrl_</key>
	<array>
		<string>gje-cyrl</string>
	</array>
	<key>public.kern1.m</key>
	<array>
		<string>alpha</string>
		<string>aturned</string>
		<string>bsmallcapital</string>
		<string>dz</string>
		<string>dzdigraph</string>
		<string>eopen</string>
		<string>ereversedopen</string>
		<string>esmallcapital</string>
		<string>fsmallcapital</string>
		<string>g</string>
		<string>gcedilla</string>
		<string>gdotaccent</string>
		<string>gscript</string>
		<string>hsmallcapital</string>
		<string>idotless</string>
		<string>ismallcapital</string>
		<string>jdotless</string>
		<string>jsmallcapital</string>
		<string>kra</string>
		<string>ksmallcapital</string>
		<string>lzdigraph</string>
		<string>ncedilla</string>
		<string>nsmallcapital</string>
		<string>eng</string>
		<string>ohorn</string>
		<string>ohorndotbelow</string>
		<string>q</string>
		<string>rsmallcapital</string>
		<string>s</string>
		<string>scedilla</string>
		<string>twotone</string>
		<string>u</string>
		<string>udotbelow</string>
		<string>uhorn</string>
		<string>uhorndotbelow</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>zbar</string>
		<string>ze-cyrl</string>
		<string>i-cyrl</string>
		<string>el-cyrl</string>
		<string>en-cyrl</string>
		<string>pe-cyrl</string>
		<string>che-cyrl</string>
		<string>sha-cyrl</string>
		<string>dzhe-cyrl</string>
		<string>yeru-cyrl</string>
		<string>dze-cyrl</string>
		<string>ieukrainian-cyrl</string>
		<string>ya-cyrl</string>
		<string>alpha-grek</string>
		<string>epsilon-grek</string>
		<string>iota-grek</string>
		<string>mu-grek</string>
		<string>omega-grek</string>
		<string>omegatonos-grek</string>
		<string>alphatonos-grek</string>
		<string>pisymbol-grek</string>
		<string>kappasymbol-grek</string>
		<string>lunateepsilonsymbol-grek</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>fengdigraph</string>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>napostrophe</string>
		<string>nlongrightleg</string>
		<string>tshe-cyrl</string>
		<string>dje-cyrl</string>
		<string>eta-grek</string>
		<string>etatonos-grek</string>
	</array>
	<key>public.kern1.n_</key>
	<array>
		<string>hcircumflex</string>
		<string>nacute</string>
		<string>ncaron</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>alphaturned</string>
		<string>ae</string>
		<string>e</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>eogonek</string>
		<string>ereversed</string>
		<string>eturned</string>
		<string>schwa</string>
		<string>o</string>
		<string>odotbelow</string>
		<string>osmallcapital</string>
		<string>oe</string>
		<string>phi</string>
		<string>ie-cyrl</string>
		<string>o-cyrl</string>
		<string>ef-cyrl</string>
		<string>yu-cyrl</string>
		<string>omicron-grek</string>
		<string>rho-grek</string>
		<string>phi-grek</string>
		<string>omicrontonos-grek</string>
		<string>phisymbol-grek</string>
	</array>
	<key>public.kern1.o_</key>
	<array>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>etilde</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odoubleacute</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>omacron</string>
		<string>be-cyrl</string>
		<string>iegrave-cyrl</string>
		<string>io-cyrl</string>
		<string>delta-grek</string>
	</array>
	<key>public.kern1.oopen</key>
	<array>
		<string>oopen</string>
		<string>e-cyrl</string>
	</array>
	<key>public.kern1.p</key>
	<array>
		<string>er-cyrl</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>rcedilla</string>
	</array>
	<key>public.kern1.r_</key>
	<array>
		<string>racute</string>
		<string>rcaron</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>ssmallcapital</string>
	</array>
	<key>public.kern1.signsoft-cyrl</key>
	<array>
		<string>signsoft-cyrl</string>
		<string>signhard-cyrl</string>
		<string>lje-cyrl</string>
		<string>nje-cyrl</string>
	</array>
	<key>public.kern1.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
	</array>
	<key>public.kern1.theta-grek</key>
	<array>
		<string>theta-grek</string>
		<string>thetasymbol-grek</string>
	</array>
	<key>public.kern1.tse-cyrl</key>
	<array>
		<string>tse-cyrl</string>
		<string>shcha-cyrl</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>psi-grek</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>vsmallcapital</string>
		<string>y</string>
		<string>ydotbelow</string>
		<string>u-cyrl</string>
		<string>gamma-grek</string>
		<string>nu-grek</string>
		<string>sigma-grek</string>
		<string>chi-grek</string>
	</array>
	<key>public.kern1.v_</key>
	<array>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>ushort-cyrl</string>
	</array>
	<key>public.kern1.vturned</key>
	<array>
		<string>vturned</string>
		<string>lamda-grek</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>w</string>
		<string>wsmallcapital</string>
	</array>
	<key>public.kern1.w_</key>
	<array>
		<string>wcircumflex</string>
	</array>
	<key>public.kern1.wturned</key>
	<array>
		<string>wturned</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>k</string>
		<string>kcedilla</string>
		<string>x</string>
		<string>zhe-cyrl</string>
		<string>ka-cyrl</string>
		<string>ha-cyrl</string>
		<string>kappa-grek</string>
	</array>
	<key>public.kern1.x_</key>
	<array>
		<string>kje-cyrl</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>Dz</string>
		<string>z</string>
		<string>zdotaccent</string>
		<string>zsmallcapital</string>
	</array>
	<key>public.kern1.z_</key>
	<array>
		<string>Dzcaron</string>
		<string>zacute</string>
		<string>zcaron</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adieresismacron</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>Vturned</string>
		<string>A-cyrl</string>
		<string>Alpha-grek</string>
		<string>Delta-grek</string>
		<string>Lamda-grek</string>
	</array>
	<key>public.kern2.AE</key>
	<array>
		<string>AE</string>
	</array>
	<key>public.kern2.Asmall</key>
	<array>
		<string>asmallcapital</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcedilla</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
		<string>Es-cyrl</string>
		<string>Ieukrainian-cyrl</string>
	</array>
	<key>public.kern2.Che-cyrl</key>
	<array>
		<string>Che-cyrl</string>
	</array>
	<key>public.kern2.De-cyrl</key>
	<array>
		<string>De-cyrl</string>
	</array>
	<key>public.kern2.Ef-cyrl</key>
	<array>
		<string>Ef-cyrl</string>
		<string>Phi-grek</string>
	</array>
	<key>public.kern2.El-cyrl</key>
	<array>
		<string>El-cyrl</string>
		<string>Lje-cyrl</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>M</string>
		<string>Em-cyrl</string>
		<string>Mu-grek</string>
	</array>
	<key>public.kern2.Msmall</key>
	<array>
		<string>msmallcapital</string>
		<string>em-cyrl</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Odoubleacute</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Omacron</string>
		<string>Omiddletilde</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>O-cyrl</string>
		<string>Theta-grek</string>
		<string>Omicron-grek</string>
	</array>
	<key>public.kern2.Omega-grek</key>
	<array>
		<string>Omega-grek</string>
	</array>
	<key>public.kern2.Oopen</key>
	<array>
		<string>Oopen</string>
	</array>
	<key>public.kern2.Psi-grek</key>
	<array>
		<string>Psi-grek</string>
	</array>
	<key>public.kern2.Signhard-cyrl</key>
	<array>
		<string>Signhard-cyrl</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Te-cyrl</string>
		<string>Tshe-cyrl</string>
		<string>Dje-cyrl</string>
		<string>Tau-grek</string>
	</array>
	<key>public.kern2.Tsmall</key>
	<array>
		<string>tsmallcapital</string>
		<string>te-cyrl</string>
		<string>tau-grek</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Udoubleacute</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Upsilon</string>
		<string>Uring</string>
		<string>Utilde</string>
	</array>
	<key>public.kern2.U-cyrl</key>
	<array>
		<string>U-cyrl</string>
		<string>Ushort-cyrl</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wcircumflex</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
		<string>Zhe-cyrl</string>
		<string>Ha-cyrl</string>
		<string>Chi-grek</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Upsilon-grek</string>
	</array>
	<key>public.kern2.Ya-cyrl</key>
	<array>
		<string>Ya-cyrl</string>
	</array>
	<key>public.kern2.Ysmall</key>
	<array>
		<string>ysmallcapital</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zeta-grek</string>
	</array>
	<key>public.kern2.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>alpha</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>csmallcapital</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>dz</string>
		<string>dzcaron</string>
		<string>dzdigraph</string>
		<string>g</string>
		<string>gcedilla</string>
		<string>gdotaccent</string>
		<string>gscript</string>
		<string>gsmallcapital</string>
		<string>q</string>
		<string>es-cyrl</string>
		<string>ieukrainian-cyrl</string>
		<string>finalsigma-grek</string>
		<string>lunateepsilonsymbol-grek</string>
	</array>
	<key>public.kern2.c_</key>
	<array>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dtopbar</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
	</array>
	<key>public.kern2.che-cyrl</key>
	<array>
		<string>che-cyrl</string>
	</array>
	<key>public.kern2.el-cyrl</key>
	<array>
		<string>el-cyrl</string>
		<string>lje-cyrl</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>fengdigraph</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>public.kern2.m</key>
	<array>
		<string>a</string>
		<string>adotbelow</string>
		<string>alphaturned</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aturned</string>
		<string>ae</string>
		<string>bsmallcapital</string>
		<string>dsmallcapital</string>
		<string>eopen</string>
		<string>ereversedopen</string>
		<string>esmallcapital</string>
		<string>fsmallcapital</string>
		<string>hsmallcapital</string>
		<string>idotless</string>
		<string>ismallcapital</string>
		<string>jdotless</string>
		<string>jsmallcapital</string>
		<string>kra</string>
		<string>ksmallcapital</string>
		<string>lsmallcapital</string>
		<string>m</string>
		<string>n</string>
		<string>ncedilla</string>
		<string>nj</string>
		<string>nlongrightleg</string>
		<string>nsmallcapital</string>
		<string>eng</string>
		<string>p</string>
		<string>psmallcapital</string>
		<string>r</string>
		<string>rcedilla</string>
		<string>rsmallcapital</string>
		<string>s</string>
		<string>scedilla</string>
		<string>twotone</string>
		<string>zbar</string>
		<string>ghe-cyrl</string>
		<string>gheupturn-cyrl</string>
		<string>ze-cyrl</string>
		<string>i-cyrl</string>
		<string>ka-cyrl</string>
		<string>en-cyrl</string>
		<string>pe-cyrl</string>
		<string>er-cyrl</string>
		<string>tse-cyrl</string>
		<string>sha-cyrl</string>
		<string>shcha-cyrl</string>
		<string>dzhe-cyrl</string>
		<string>signsoft-cyrl</string>
		<string>yeru-cyrl</string>
		<string>nje-cyrl</string>
		<string>dze-cyrl</string>
		<string>e-cyrl</string>
		<string>yu-cyrl</string>
		<string>epsilon-grek</string>
		<string>eta-grek</string>
		<string>iota-grek</string>
		<string>kappa-grek</string>
		<string>mu-grek</string>
		<string>omega-grek</string>
		<string>omegatonos-grek</string>
		<string>etatonos-grek</string>
		<string>pisymbol-grek</string>
		<string>kappasymbol-grek</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>e</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>eogonek</string>
		<string>ereversed</string>
		<string>eturned</string>
		<string>schwa</string>
		<string>o</string>
		<string>odotbelow</string>
		<string>ohorn</string>
		<string>ohorndotbelow</string>
		<string>osmallcapital</string>
		<string>oe</string>
		<string>phi</string>
		<string>ie-cyrl</string>
		<string>o-cyrl</string>
		<string>ef-cyrl</string>
		<string>alpha-grek</string>
		<string>omicron-grek</string>
		<string>rho-grek</string>
		<string>sigma-grek</string>
		<string>phi-grek</string>
		<string>omicrontonos-grek</string>
		<string>alphatonos-grek</string>
		<string>phisymbol-grek</string>
	</array>
	<key>public.kern2.o_</key>
	<array>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>etilde</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odoubleacute</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohornacute</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>omacron</string>
		<string>iegrave-cyrl</string>
		<string>io-cyrl</string>
		<string>delta-grek</string>
	</array>
	<key>public.kern2.oopen</key>
	<array>
		<string>oopen</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>ssmallcapital</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>teshdigraph</string>
		<string>tsdigraph</string>
	</array>
	<key>public.kern2.theta-grek</key>
	<array>
		<string>theta-grek</string>
		<string>thetasymbol-grek</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>udotbelow</string>
		<string>uhorn</string>
		<string>uhorndotbelow</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>usmallcapital</string>
		<string>upsilon-grek</string>
		<string>psi-grek</string>
		<string>upsilontonos-grek</string>
	</array>
	<key>public.kern2.u_</key>
	<array>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udoubleacute</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhornacute</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>umacron</string>
		<string>utilde</string>
		<string>upsilondialytika-grek</string>
		<string>upsilondialytikatonos-grek</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>vsmallcapital</string>
		<string>y</string>
		<string>ydotbelow</string>
		<string>u-cyrl</string>
		<string>gamma-grek</string>
		<string>nu-grek</string>
		<string>chi-grek</string>
	</array>
	<key>public.kern2.v_</key>
	<array>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ytilde</string>
		<string>ushort-cyrl</string>
	</array>
	<key>public.kern2.vturned</key>
	<array>
		<string>vturned</string>
		<string>lamda-grek</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>w</string>
		<string>wsmallcapital</string>
	</array>
	<key>public.kern2.w_</key>
	<array>
		<string>wcircumflex</string>
	</array>
	<key>public.kern2.wturned</key>
	<array>
		<string>wturned</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
		<string>zhe-cyrl</string>
		<string>ha-cyrl</string>
	</array>
	<key>public.kern2.ya-cyrl</key>
	<array>
		<string>ya-cyrl</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
		<string>zdotaccent</string>
		<string>zsmallcapital</string>
	</array>
	<key>public.kern2.z_</key>
	<array>
		<string>zacute</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
