<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>openTypeGaspRangeRecords</string>
			<key>value</key>
			<array>
				<dict>
					<key>rangeGaspBehavior</key>
					<array>
						<integer>1</integer>
						<integer>3</integer>
					</array>
					<key>rangeMaxPPEM</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>rangeGaspBehavior</key>
					<array>
						<integer>0</integer>
						<integer>2</integer>
					</array>
					<key>rangeMaxPPEM</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>rangeGaspBehavior</key>
					<array>
						<integer>0</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>3</integer>
					</array>
					<key>rangeMaxPPEM</key>
					<integer>65535</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Variable Font Origin</string>
			<key>value</key>
			<string>075C320F-31FB-43E3-9666-33E6C28C720D</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>E05D4E41-27C5-44C9-BB66-2775186D9101</key>
			<dict/>
			<key>master01</key>
			<dict/>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Thin</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>100</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adieresis</string>
		<string>Adieresismacron</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>Btopbar</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>DZ</string>
		<string>DZcaron</string>
		<string>Dafrican</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Dtopbar</string>
		<string>Dz</string>
		<string>Dzcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Ereversed</string>
		<string>Esh</string>
		<string>Etilde</string>
		<string>F</string>
		<string>Fhook</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcedilla</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibar</string>
		<string>Ibreve</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Iota</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcedilla</string>
		<string>L</string>
		<string>LJ</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcedilla</string>
		<string>Lj</string>
		<string>Lmiddledot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>NJ</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncedilla</string>
		<string>Nj</string>
		<string>Nlefthook</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odieresis</string>
		<string>Odotbelow</string>
		<string>Odoubleacute</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Omacron</string>
		<string>Omiddletilde</string>
		<string>Oopen</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcedilla</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Germandbls</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Twotone</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Udoubleacute</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Upsilon</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>Vturned</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zbar</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adieresis</string>
		<string>adieresismacron</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>alpha</string>
		<string>alphaturned</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>asmallcapital</string>
		<string>atilde</string>
		<string>aturned</string>
		<string>ae</string>
		<string>b</string>
		<string>bbar</string>
		<string>bsmallcapital</string>
		<string>btopbar</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>csmallcapital</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>deltaturned</string>
		<string>dsmallcapital</string>
		<string>dtopbar</string>
		<string>dz</string>
		<string>dzcaron</string>
		<string>dzdigraph</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eopen</string>
		<string>ereversed</string>
		<string>ereversedopen</string>
		<string>esh</string>
		<string>esmallcapital</string>
		<string>etilde</string>
		<string>eturned</string>
		<string>schwa</string>
		<string>f</string>
		<string>fengdigraph</string>
		<string>fsmallcapital</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcedilla</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>gscript</string>
		<string>gsmallcapital</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>hsmallcapital</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>ismallcapital</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>jsmallcapital</string>
		<string>k</string>
		<string>kcedilla</string>
		<string>kra</string>
		<string>ksmallcapital</string>
		<string>l</string>
		<string>lacute</string>
		<string>lbar</string>
		<string>lcaron</string>
		<string>lcedilla</string>
		<string>lj</string>
		<string>lmiddledot</string>
		<string>lslash</string>
		<string>lsmallcapital</string>
		<string>lzdigraph</string>
		<string>m</string>
		<string>msmallcapital</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncedilla</string>
		<string>nj</string>
		<string>nlongrightleg</string>
		<string>nsmallcapital</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odieresis</string>
		<string>odotbelow</string>
		<string>odoubleacute</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>omacron</string>
		<string>oopen</string>
		<string>oslash</string>
		<string>osmallcapital</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>phi</string>
		<string>thorn</string>
		<string>psmallcapital</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcedilla</string>
		<string>rinvertedsmallcapital</string>
		<string>rsmallcapital</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>germandbls</string>
		<string>ssmallcapital</string>
		<string>longs</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>teshdigraph</string>
		<string>tsdigraph</string>
		<string>tsmallcapital</string>
		<string>twotone</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>udoubleacute</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>usmallcapital</string>
		<string>utilde</string>
		<string>v</string>
		<string>vsmallcapital</string>
		<string>vturned</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wsmallcapital</string>
		<string>wturned</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ysmallcapital</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zbar</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zsmallcapital</string>
		<string>fi</string>
		<string>fl</string>
		<string>twobar</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>A-cyrl</string>
		<string>Be-cyrl</string>
		<string>Ve-cyrl</string>
		<string>Ghe-cyrl</string>
		<string>Gje-cyrl</string>
		<string>Gheupturn-cyrl</string>
		<string>De-cyrl</string>
		<string>Ie-cyrl</string>
		<string>Iegrave-cyrl</string>
		<string>Io-cyrl</string>
		<string>Zhe-cyrl</string>
		<string>Ze-cyrl</string>
		<string>I-cyrl</string>
		<string>Ishort-cyrl</string>
		<string>Igrave-cyrl</string>
		<string>Ka-cyrl</string>
		<string>Kje-cyrl</string>
		<string>El-cyrl</string>
		<string>Em-cyrl</string>
		<string>En-cyrl</string>
		<string>O-cyrl</string>
		<string>Pe-cyrl</string>
		<string>Er-cyrl</string>
		<string>Es-cyrl</string>
		<string>Te-cyrl</string>
		<string>U-cyrl</string>
		<string>Ushort-cyrl</string>
		<string>Ef-cyrl</string>
		<string>Ha-cyrl</string>
		<string>Che-cyrl</string>
		<string>Tse-cyrl</string>
		<string>Sha-cyrl</string>
		<string>Shcha-cyrl</string>
		<string>Dzhe-cyrl</string>
		<string>Signsoft-cyrl</string>
		<string>Yeru-cyrl</string>
		<string>Signhard-cyrl</string>
		<string>Lje-cyrl</string>
		<string>Nje-cyrl</string>
		<string>Dze-cyrl</string>
		<string>Ieukrainian-cyrl</string>
		<string>E-cyrl</string>
		<string>Ibyelorussianukrainian-cyrl</string>
		<string>Yi-cyrl</string>
		<string>Je-cyrl</string>
		<string>Tshe-cyrl</string>
		<string>Yu-cyrl</string>
		<string>Ya-cyrl</string>
		<string>Dje-cyrl</string>
		<string>a-cyrl</string>
		<string>be-cyrl</string>
		<string>ve-cyrl</string>
		<string>ghe-cyrl</string>
		<string>gje-cyrl</string>
		<string>gheupturn-cyrl</string>
		<string>de-cyrl</string>
		<string>ie-cyrl</string>
		<string>iegrave-cyrl</string>
		<string>io-cyrl</string>
		<string>zhe-cyrl</string>
		<string>ze-cyrl</string>
		<string>i-cyrl</string>
		<string>ishort-cyrl</string>
		<string>igrave-cyrl</string>
		<string>ka-cyrl</string>
		<string>kje-cyrl</string>
		<string>el-cyrl</string>
		<string>em-cyrl</string>
		<string>en-cyrl</string>
		<string>o-cyrl</string>
		<string>pe-cyrl</string>
		<string>er-cyrl</string>
		<string>es-cyrl</string>
		<string>te-cyrl</string>
		<string>u-cyrl</string>
		<string>ushort-cyrl</string>
		<string>ef-cyrl</string>
		<string>ha-cyrl</string>
		<string>che-cyrl</string>
		<string>tse-cyrl</string>
		<string>sha-cyrl</string>
		<string>shcha-cyrl</string>
		<string>dzhe-cyrl</string>
		<string>signsoft-cyrl</string>
		<string>yeru-cyrl</string>
		<string>signhard-cyrl</string>
		<string>lje-cyrl</string>
		<string>nje-cyrl</string>
		<string>dze-cyrl</string>
		<string>ieukrainian-cyrl</string>
		<string>e-cyrl</string>
		<string>ibyelorussianukrainian-cyrl</string>
		<string>yi-cyrl</string>
		<string>je-cyrl</string>
		<string>tshe-cyrl</string>
		<string>yu-cyrl</string>
		<string>ya-cyrl</string>
		<string>dje-cyrl</string>
		<string>Alpha-grek</string>
		<string>Beta-grek</string>
		<string>Gamma-grek</string>
		<string>Delta-grek</string>
		<string>Epsilon-grek</string>
		<string>Zeta-grek</string>
		<string>Eta-grek</string>
		<string>Theta-grek</string>
		<string>Iota-grek</string>
		<string>Kappa-grek</string>
		<string>Lamda-grek</string>
		<string>Mu-grek</string>
		<string>Nu-grek</string>
		<string>Xi-grek</string>
		<string>Omicron-grek</string>
		<string>Pi-grek</string>
		<string>Rho-grek</string>
		<string>Sigma-grek</string>
		<string>Tau-grek</string>
		<string>Upsilon-grek</string>
		<string>Phi-grek</string>
		<string>Chi-grek</string>
		<string>Psi-grek</string>
		<string>Omega-grek</string>
		<string>Alphatonos-grek</string>
		<string>Epsilontonos-grek</string>
		<string>Etatonos-grek</string>
		<string>Iotatonos-grek</string>
		<string>Omicrontonos-grek</string>
		<string>Upsilontonos-grek</string>
		<string>Omegatonos-grek</string>
		<string>Iotadialytika-grek</string>
		<string>Upsilondialytika-grek</string>
		<string>alpha-grek</string>
		<string>beta-grek</string>
		<string>gamma-grek</string>
		<string>delta-grek</string>
		<string>epsilon-grek</string>
		<string>zeta-grek</string>
		<string>eta-grek</string>
		<string>theta-grek</string>
		<string>iota-grek</string>
		<string>kappa-grek</string>
		<string>lamda-grek</string>
		<string>mu-grek</string>
		<string>nu-grek</string>
		<string>xi-grek</string>
		<string>omicron-grek</string>
		<string>pi-grek</string>
		<string>rho-grek</string>
		<string>finalsigma-grek</string>
		<string>sigma-grek</string>
		<string>tau-grek</string>
		<string>upsilon-grek</string>
		<string>phi-grek</string>
		<string>chi-grek</string>
		<string>psi-grek</string>
		<string>omega-grek</string>
		<string>iotatonos-grek</string>
		<string>iotadialytika-grek</string>
		<string>iotadialytikatonos-grek</string>
		<string>upsilontonos-grek</string>
		<string>upsilondialytika-grek</string>
		<string>upsilondialytikatonos-grek</string>
		<string>omicrontonos-grek</string>
		<string>omegatonos-grek</string>
		<string>alphatonos-grek</string>
		<string>epsilontonos-grek</string>
		<string>etatonos-grek</string>
		<string>thetasymbol-grek</string>
		<string>phisymbol-grek</string>
		<string>pisymbol-grek</string>
		<string>kappasymbol-grek</string>
		<string>lunateepsilonsymbol-grek</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>six.osf</string>
		<string>seven.osf</string>
		<string>eight.osf</string>
		<string>nine.osf</string>
		<string>zero.tf</string>
		<string>one.tf</string>
		<string>two.tf</string>
		<string>three.tf</string>
		<string>four.tf</string>
		<string>five.tf</string>
		<string>six.tf</string>
		<string>seven.tf</string>
		<string>eight.tf</string>
		<string>nine.tf</string>
		<string>zero.tosf</string>
		<string>one.tosf</string>
		<string>two.tosf</string>
		<string>three.tosf</string>
		<string>four.tosf</string>
		<string>five.tosf</string>
		<string>six.tosf</string>
		<string>seven.tosf</string>
		<string>eight.tosf</string>
		<string>nine.tosf</string>
		<string>fraction</string>
		<string>fractionnumeratorone</string>
		<string>onehalf</string>
		<string>zerothirds</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onefifth</string>
		<string>twofifths</string>
		<string>threefifths</string>
		<string>fourfifths</string>
		<string>onesixth</string>
		<string>fivesixths</string>
		<string>oneseventh</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>oneninth</string>
		<string>onetenth</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>.notdef</string>
		<string>space</string>
		<string>greekanoteleia</string>
		<string>questiongreek</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>hyphenminus</string>
		<string>endash</string>
		<string>emdash</string>
		<string>threeemdash</string>
		<string>twoemdash</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>fhook</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>numerosign</string>
		<string>degreecelsius</string>
		<string>degreefahrenheit</string>
		<string>telephonesign</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>frenchfrancsign</string>
		<string>lirasign</string>
		<string>pesetasign</string>
		<string>sterling</string>
		<string>yen</string>
		<string>cuberoot</string>
		<string>fourthroot</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterthanorequalto</string>
		<string>lessthanorequalto</string>
		<string>plusminus</string>
		<string>almostequalto</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>infinity</string>
		<string>integral</string>
		<string>Ohmsign-grek</string>
		<string>increment</string>
		<string>naryproduct</string>
		<string>narysummation</string>
		<string>squareroot</string>
		<string>mu</string>
		<string>partialdifferential</string>
		<string>percent</string>
		<string>tonosmod-grek</string>
		<string>greekdialytikatonosmod</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>doubleacutecomb</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>hookcomb</string>
		<string>doublegravecomb</string>
		<string>horncomb</string>
		<string>dotbelowcomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>strokelongcomb</string>
		<string>dieresis</string>
		<string>grave</string>
		<string>acute</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>qsmallcapital</string>
		<string>uF000</string>
		<string>__Be-cyrl</string>
		<string>__Be-cyrl_2</string>
		<string>__Dje-cyrl</string>
		<string>__El-cyrl</string>
		<string>__Gheupturn-cyrl</string>
		<string>__Nje-cyrl</string>
		<string>__Signhard-cyrl</string>
		<string>__Theta-grek</string>
		<string>__Tse-cyrl</string>
		<string>__Tse-cyrl_2</string>
		<string>__Tshe-cyrl</string>
		<string>__el-cyrl</string>
		<string>__nje-cyrl</string>
		<string>__signhard-cyrl</string>
		<string>__tse-cyrl</string>
		<string>Longs</string>
		<string>__AE</string>
		<string>__AE_2</string>
		<string>__Abreveacute</string>
		<string>__Abrevegrave</string>
		<string>__Abrevehookabove</string>
		<string>__Abrevetilde</string>
		<string>__Acircumflexacute</string>
		<string>__Acircumflexgrave</string>
		<string>__Acircumflexhookabove</string>
		<string>__Acircumflextilde</string>
		<string>__Dtopbar</string>
		<string>__Eth</string>
		<string>__Hbar</string>
		<string>__Oslash</string>
		<string>__Udieresisacute</string>
		<string>__Udieresismacron</string>
		<string>__cent</string>
		<string>__copyright</string>
		<string>__copyright_2</string>
		<string>__dcroat</string>
		<string>__dollar</string>
		<string>__eng</string>
		<string>__f</string>
		<string>__lshash</string>
		<string>__oslash</string>
		<string>__qsmallcapital</string>
		<string>__registered</string>
		<string>__sterling</string>
		<string>__sterling_2</string>
		<string>__tbar</string>
		<string>acutecombsmall</string>
		<string>gravecombsmall</string>
		<string>hookcombsmall</string>
		<string>middotcomb</string>
		<string>primecomb</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>A-cyrl</key>
		<string>uni0410</string>
		<key>Abreveacute</key>
		<string>uni1EAE</string>
		<key>Abrevedotbelow</key>
		<string>uni1EB6</string>
		<key>Abrevegrave</key>
		<string>uni1EB0</string>
		<key>Abrevehookabove</key>
		<string>uni1EB2</string>
		<key>Abrevetilde</key>
		<string>uni1EB4</string>
		<key>Acaron</key>
		<string>uni01CD</string>
		<key>Acircumflexacute</key>
		<string>uni1EA4</string>
		<key>Acircumflexdotbelow</key>
		<string>uni1EAC</string>
		<key>Acircumflexgrave</key>
		<string>uni1EA6</string>
		<key>Acircumflexhookabove</key>
		<string>uni1EA8</string>
		<key>Acircumflextilde</key>
		<string>uni1EAA</string>
		<key>Adieresismacron</key>
		<string>uni01DE</string>
		<key>Adotbelow</key>
		<string>uni1EA0</string>
		<key>Ahookabove</key>
		<string>uni1EA2</string>
		<key>Be-cyrl</key>
		<string>uni0411</string>
		<key>Btopbar</key>
		<string>uni0182</string>
		<key>Che-cyrl</key>
		<string>uni0427</string>
		<key>DZ</key>
		<string>uni01F1</string>
		<key>DZcaron</key>
		<string>uni01C4</string>
		<key>Dafrican</key>
		<string>uni0189</string>
		<key>De-cyrl</key>
		<string>uni0414</string>
		<key>Delta-grek</key>
		<string>uni0394</string>
		<key>Dje-cyrl</key>
		<string>uni0402</string>
		<key>Dtopbar</key>
		<string>uni018B</string>
		<key>Dz</key>
		<string>uni01F2</string>
		<key>Dzcaron</key>
		<string>uni01C5</string>
		<key>Dze-cyrl</key>
		<string>uni0405</string>
		<key>Dzhe-cyrl</key>
		<string>uni040F</string>
		<key>E-cyrl</key>
		<string>uni042D</string>
		<key>Ecircumflexacute</key>
		<string>uni1EBE</string>
		<key>Ecircumflexdotbelow</key>
		<string>uni1EC6</string>
		<key>Ecircumflexgrave</key>
		<string>uni1EC0</string>
		<key>Ecircumflexhookabove</key>
		<string>uni1EC2</string>
		<key>Ecircumflextilde</key>
		<string>uni1EC4</string>
		<key>Edotbelow</key>
		<string>uni1EB8</string>
		<key>Ef-cyrl</key>
		<string>uni0424</string>
		<key>Ehookabove</key>
		<string>uni1EBA</string>
		<key>El-cyrl</key>
		<string>uni041B</string>
		<key>Em-cyrl</key>
		<string>uni041C</string>
		<key>En-cyrl</key>
		<string>uni041D</string>
		<key>Er-cyrl</key>
		<string>uni0420</string>
		<key>Ereversed</key>
		<string>uni018E</string>
		<key>Es-cyrl</key>
		<string>uni0421</string>
		<key>Esh</key>
		<string>uni01A9</string>
		<key>Etilde</key>
		<string>uni1EBC</string>
		<key>Fhook</key>
		<string>uni0191</string>
		<key>Gcedilla</key>
		<string>uni0122</string>
		<key>Germandbls</key>
		<string>uni1E9E</string>
		<key>Ghe-cyrl</key>
		<string>uni0413</string>
		<key>Gheupturn-cyrl</key>
		<string>uni0490</string>
		<key>Gje-cyrl</key>
		<string>uni0403</string>
		<key>Ha-cyrl</key>
		<string>uni0425</string>
		<key>I-cyrl</key>
		<string>uni0418</string>
		<key>Ibar</key>
		<string>uni0197</string>
		<key>Ibyelorussianukrainian-cyrl</key>
		<string>uni0406</string>
		<key>Icaron</key>
		<string>uni01CF</string>
		<key>Idotbelow</key>
		<string>uni1ECA</string>
		<key>Ie-cyrl</key>
		<string>uni0415</string>
		<key>Iegrave-cyrl</key>
		<string>uni0400</string>
		<key>Ieukrainian-cyrl</key>
		<string>uni0404</string>
		<key>Igrave-cyrl</key>
		<string>uni040D</string>
		<key>Ihookabove</key>
		<string>uni1EC8</string>
		<key>Io-cyrl</key>
		<string>uni0401</string>
		<key>Iota</key>
		<string>uni0196</string>
		<key>Ishort-cyrl</key>
		<string>uni0419</string>
		<key>Je-cyrl</key>
		<string>uni0408</string>
		<key>Ka-cyrl</key>
		<string>uni041A</string>
		<key>Kcedilla</key>
		<string>uni0136</string>
		<key>Kje-cyrl</key>
		<string>uni040C</string>
		<key>LJ</key>
		<string>uni01C7</string>
		<key>Lcedilla</key>
		<string>uni013B</string>
		<key>Lj</key>
		<string>uni01C8</string>
		<key>Lje-cyrl</key>
		<string>uni0409</string>
		<key>NJ</key>
		<string>uni01CA</string>
		<key>Ncedilla</key>
		<string>uni0145</string>
		<key>Nj</key>
		<string>uni01CB</string>
		<key>Nje-cyrl</key>
		<string>uni040A</string>
		<key>Nlefthook</key>
		<string>uni019D</string>
		<key>O-cyrl</key>
		<string>uni041E</string>
		<key>Ocaron</key>
		<string>uni01D1</string>
		<key>Ocircumflexacute</key>
		<string>uni1ED0</string>
		<key>Ocircumflexdotbelow</key>
		<string>uni1ED8</string>
		<key>Ocircumflexgrave</key>
		<string>uni1ED2</string>
		<key>Ocircumflexhookabove</key>
		<string>uni1ED4</string>
		<key>Ocircumflextilde</key>
		<string>uni1ED6</string>
		<key>Odotbelow</key>
		<string>uni1ECC</string>
		<key>Ohmsign-grek</key>
		<string>uni2126</string>
		<key>Ohookabove</key>
		<string>uni1ECE</string>
		<key>Ohornacute</key>
		<string>uni1EDA</string>
		<key>Ohorndotbelow</key>
		<string>uni1EE2</string>
		<key>Ohorngrave</key>
		<string>uni1EDC</string>
		<key>Ohornhookabove</key>
		<string>uni1EDE</string>
		<key>Ohorntilde</key>
		<string>uni1EE0</string>
		<key>Omega-grek</key>
		<string>uni03A9</string>
		<key>Omiddletilde</key>
		<string>uni019F</string>
		<key>Oopen</key>
		<string>uni0186</string>
		<key>Pe-cyrl</key>
		<string>uni041F</string>
		<key>Rcedilla</key>
		<string>uni0156</string>
		<key>Sha-cyrl</key>
		<string>uni0428</string>
		<key>Shcha-cyrl</key>
		<string>uni0429</string>
		<key>Signhard-cyrl</key>
		<string>uni042A</string>
		<key>Signsoft-cyrl</key>
		<string>uni042C</string>
		<key>Tcedilla</key>
		<string>uni0162</string>
		<key>Te-cyrl</key>
		<string>uni0422</string>
		<key>Tse-cyrl</key>
		<string>uni0426</string>
		<key>Tshe-cyrl</key>
		<string>uni040B</string>
		<key>Twotone</key>
		<string>uni01A7</string>
		<key>U-cyrl</key>
		<string>uni0423</string>
		<key>Ucaron</key>
		<string>uni01D3</string>
		<key>Udieresisacute</key>
		<string>uni01D7</string>
		<key>Udieresiscaron</key>
		<string>uni01D9</string>
		<key>Udieresisgrave</key>
		<string>uni01DB</string>
		<key>Udieresismacron</key>
		<string>uni01D5</string>
		<key>Udotbelow</key>
		<string>uni1EE4</string>
		<key>Uhookabove</key>
		<string>uni1EE6</string>
		<key>Uhornacute</key>
		<string>uni1EE8</string>
		<key>Uhorndotbelow</key>
		<string>uni1EF0</string>
		<key>Uhorngrave</key>
		<string>uni1EEA</string>
		<key>Uhornhookabove</key>
		<string>uni1EEC</string>
		<key>Uhorntilde</key>
		<string>uni1EEE</string>
		<key>Upsilon</key>
		<string>uni01B1</string>
		<key>Ushort-cyrl</key>
		<string>uni040E</string>
		<key>Ve-cyrl</key>
		<string>uni0412</string>
		<key>Vturned</key>
		<string>uni0245</string>
		<key>Ya-cyrl</key>
		<string>uni042F</string>
		<key>Ydotbelow</key>
		<string>uni1EF4</string>
		<key>Yeru-cyrl</key>
		<string>uni042B</string>
		<key>Yhookabove</key>
		<string>uni1EF6</string>
		<key>Yi-cyrl</key>
		<string>uni0407</string>
		<key>Ytilde</key>
		<string>uni1EF8</string>
		<key>Yu-cyrl</key>
		<string>uni042E</string>
		<key>Zbar</key>
		<string>uni01B5</string>
		<key>Ze-cyrl</key>
		<string>uni0417</string>
		<key>Zhe-cyrl</key>
		<string>uni0416</string>
		<key>a-cyrl</key>
		<string>uni0430</string>
		<key>abreveacute</key>
		<string>uni1EAF</string>
		<key>abrevedotbelow</key>
		<string>uni1EB7</string>
		<key>abrevegrave</key>
		<string>uni1EB1</string>
		<key>abrevehookabove</key>
		<string>uni1EB3</string>
		<key>abrevetilde</key>
		<string>uni1EB5</string>
		<key>acaron</key>
		<string>uni01CE</string>
		<key>acircumflexacute</key>
		<string>uni1EA5</string>
		<key>acircumflexdotbelow</key>
		<string>uni1EAD</string>
		<key>acircumflexgrave</key>
		<string>uni1EA7</string>
		<key>acircumflexhookabove</key>
		<string>uni1EA9</string>
		<key>acircumflextilde</key>
		<string>uni1EAB</string>
		<key>adieresismacron</key>
		<string>uni01DF</string>
		<key>adotbelow</key>
		<string>uni1EA1</string>
		<key>ahookabove</key>
		<string>uni1EA3</string>
		<key>alpha</key>
		<string>uni0251</string>
		<key>alphaturned</key>
		<string>uni0252</string>
		<key>asmallcapital</key>
		<string>uni1D00</string>
		<key>aturned</key>
		<string>uni0250</string>
		<key>bbar</key>
		<string>uni0180</string>
		<key>be-cyrl</key>
		<string>uni0431</string>
		<key>brevecomb</key>
		<string>uni0306</string>
		<key>bsmallcapital</key>
		<string>uni0299</string>
		<key>btopbar</key>
		<string>uni0183</string>
		<key>caroncomb</key>
		<string>uni030C</string>
		<key>cedillacomb</key>
		<string>uni0327</string>
		<key>che-cyrl</key>
		<string>uni0447</string>
		<key>circumflexcomb</key>
		<string>uni0302</string>
		<key>commaaccentcomb</key>
		<string>uni0326</string>
		<key>csmallcapital</key>
		<string>uni1D04</string>
		<key>cuberoot</key>
		<string>uni221B</string>
		<key>de-cyrl</key>
		<string>uni0434</string>
		<key>degreecelsius</key>
		<string>uni2103</string>
		<key>degreefahrenheit</key>
		<string>uni2109</string>
		<key>deltaturned</key>
		<string>uni018D</string>
		<key>dieresiscomb</key>
		<string>uni0308</string>
		<key>dje-cyrl</key>
		<string>uni0452</string>
		<key>dotaccentcomb</key>
		<string>uni0307</string>
		<key>doubleacutecomb</key>
		<string>uni030B</string>
		<key>doublegravecomb</key>
		<string>uni030F</string>
		<key>dsmallcapital</key>
		<string>uni1D05</string>
		<key>dtopbar</key>
		<string>uni018C</string>
		<key>dz</key>
		<string>uni01F3</string>
		<key>dzcaron</key>
		<string>uni01C6</string>
		<key>dzdigraph</key>
		<string>uni02A3</string>
		<key>dze-cyrl</key>
		<string>uni0455</string>
		<key>dzhe-cyrl</key>
		<string>uni045F</string>
		<key>e-cyrl</key>
		<string>uni044D</string>
		<key>ecircumflexacute</key>
		<string>uni1EBF</string>
		<key>ecircumflexdotbelow</key>
		<string>uni1EC7</string>
		<key>ecircumflexgrave</key>
		<string>uni1EC1</string>
		<key>ecircumflexhookabove</key>
		<string>uni1EC3</string>
		<key>ecircumflextilde</key>
		<string>uni1EC5</string>
		<key>edotbelow</key>
		<string>uni1EB9</string>
		<key>ef-cyrl</key>
		<string>uni0444</string>
		<key>ehookabove</key>
		<string>uni1EBB</string>
		<key>eightinferior</key>
		<string>uni2088</string>
		<key>eightsuperior</key>
		<string>uni2078</string>
		<key>el-cyrl</key>
		<string>uni043B</string>
		<key>em-cyrl</key>
		<string>uni043C</string>
		<key>en-cyrl</key>
		<string>uni043D</string>
		<key>eopen</key>
		<string>uni025B</string>
		<key>er-cyrl</key>
		<string>uni0440</string>
		<key>ereversed</key>
		<string>uni0258</string>
		<key>ereversedopen</key>
		<string>uni025C</string>
		<key>es-cyrl</key>
		<string>uni0441</string>
		<key>esh</key>
		<string>uni0283</string>
		<key>esmallcapital</key>
		<string>uni1D07</string>
		<key>etilde</key>
		<string>uni1EBD</string>
		<key>eturned</key>
		<string>uni01DD</string>
		<key>euro</key>
		<string>Euro</string>
		<key>fengdigraph</key>
		<string>uni02A9</string>
		<key>finalsigma-grek</key>
		<string>uni03C2</string>
		<key>fiveinferior</key>
		<string>uni2085</string>
		<key>fivesixths</key>
		<string>uni215A</string>
		<key>fivesuperior</key>
		<string>uni2075</string>
		<key>fourfifths</key>
		<string>uni2158</string>
		<key>fourinferior</key>
		<string>uni2084</string>
		<key>foursuperior</key>
		<string>uni2074</string>
		<key>fourthroot</key>
		<string>uni221C</string>
		<key>fractionnumeratorone</key>
		<string>uni215F</string>
		<key>fsmallcapital</key>
		<string>uniA730</string>
		<key>gcedilla</key>
		<string>uni0123</string>
		<key>ghe-cyrl</key>
		<string>uni0433</string>
		<key>gheupturn-cyrl</key>
		<string>uni0491</string>
		<key>gje-cyrl</key>
		<string>uni0453</string>
		<key>gscript</key>
		<string>uni0261</string>
		<key>gsmallcapital</key>
		<string>uni0262</string>
		<key>ha-cyrl</key>
		<string>uni0445</string>
		<key>horncomb</key>
		<string>uni031B</string>
		<key>hsmallcapital</key>
		<string>uni029C</string>
		<key>i-cyrl</key>
		<string>uni0438</string>
		<key>ibyelorussianukrainian-cyrl</key>
		<string>uni0456</string>
		<key>icaron</key>
		<string>uni01D0</string>
		<key>idotbelow</key>
		<string>uni1ECB</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>ie-cyrl</key>
		<string>uni0435</string>
		<key>iegrave-cyrl</key>
		<string>uni0450</string>
		<key>ieukrainian-cyrl</key>
		<string>uni0454</string>
		<key>igrave-cyrl</key>
		<string>uni045D</string>
		<key>ihookabove</key>
		<string>uni1EC9</string>
		<key>increment</key>
		<string>uni2206</string>
		<key>io-cyrl</key>
		<string>uni0451</string>
		<key>ishort-cyrl</key>
		<string>uni0439</string>
		<key>ismallcapital</key>
		<string>uni026A</string>
		<key>jdotless</key>
		<string>uni0237</string>
		<key>je-cyrl</key>
		<string>uni0458</string>
		<key>jsmallcapital</key>
		<string>uni1D0A</string>
		<key>ka-cyrl</key>
		<string>uni043A</string>
		<key>kappasymbol-grek</key>
		<string>uni03F0</string>
		<key>kcedilla</key>
		<string>uni0137</string>
		<key>kje-cyrl</key>
		<string>uni045C</string>
		<key>ksmallcapital</key>
		<string>uni1D0B</string>
		<key>lbar</key>
		<string>uni019A</string>
		<key>lcedilla</key>
		<string>uni013C</string>
		<key>lj</key>
		<string>uni01C9</string>
		<key>lje-cyrl</key>
		<string>uni0459</string>
		<key>lsmallcapital</key>
		<string>uni029F</string>
		<key>lunateepsilonsymbol-grek</key>
		<string>uni03F5</string>
		<key>lzdigraph</key>
		<string>uni02AB</string>
		<key>macroncomb</key>
		<string>uni0304</string>
		<key>msmallcapital</key>
		<string>uni1D0D</string>
		<key>mu</key>
		<string>uni00B5</string>
		<key>mu-grek</key>
		<string>uni03BC</string>
		<key>ncedilla</key>
		<string>uni0146</string>
		<key>nineinferior</key>
		<string>uni2089</string>
		<key>ninesuperior</key>
		<string>uni2079</string>
		<key>nj</key>
		<string>uni01CC</string>
		<key>nje-cyrl</key>
		<string>uni045A</string>
		<key>nlongrightleg</key>
		<string>uni019E</string>
		<key>nsmallcapital</key>
		<string>uni0274</string>
		<key>numerosign</key>
		<string>uni2116</string>
		<key>o-cyrl</key>
		<string>uni043E</string>
		<key>ocaron</key>
		<string>uni01D2</string>
		<key>ocircumflexacute</key>
		<string>uni1ED1</string>
		<key>ocircumflexdotbelow</key>
		<string>uni1ED9</string>
		<key>ocircumflexgrave</key>
		<string>uni1ED3</string>
		<key>ocircumflexhookabove</key>
		<string>uni1ED5</string>
		<key>ocircumflextilde</key>
		<string>uni1ED7</string>
		<key>odotbelow</key>
		<string>uni1ECD</string>
		<key>ogonekcomb</key>
		<string>uni0328</string>
		<key>ohookabove</key>
		<string>uni1ECF</string>
		<key>ohornacute</key>
		<string>uni1EDB</string>
		<key>ohorndotbelow</key>
		<string>uni1EE3</string>
		<key>ohorngrave</key>
		<string>uni1EDD</string>
		<key>ohornhookabove</key>
		<string>uni1EDF</string>
		<key>ohorntilde</key>
		<string>uni1EE1</string>
		<key>onefifth</key>
		<string>uni2155</string>
		<key>oneinferior</key>
		<string>uni2081</string>
		<key>oneninth</key>
		<string>uni2151</string>
		<key>oneseventh</key>
		<string>uni2150</string>
		<key>onesixth</key>
		<string>uni2159</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>onetenth</key>
		<string>uni2152</string>
		<key>onethird</key>
		<string>uni2153</string>
		<key>oopen</key>
		<string>uni0254</string>
		<key>osmallcapital</key>
		<string>uni1D0F</string>
		<key>pe-cyrl</key>
		<string>uni043F</string>
		<key>phi</key>
		<string>uni0278</string>
		<key>phisymbol-grek</key>
		<string>uni03D5</string>
		<key>pisymbol-grek</key>
		<string>uni03D6</string>
		<key>psmallcapital</key>
		<string>uni1D18</string>
		<key>qsmallcapital</key>
		<string>uniA7AF</string>
		<key>questiongreek</key>
		<string>uni037E</string>
		<key>rcedilla</key>
		<string>uni0157</string>
		<key>ringcomb</key>
		<string>uni030A</string>
		<key>rinvertedsmallcapital</key>
		<string>uni0281</string>
		<key>rsmallcapital</key>
		<string>uni0280</string>
		<key>schwa</key>
		<string>uni0259</string>
		<key>seveninferior</key>
		<string>uni2087</string>
		<key>sevensuperior</key>
		<string>uni2077</string>
		<key>sha-cyrl</key>
		<string>uni0448</string>
		<key>shcha-cyrl</key>
		<string>uni0449</string>
		<key>signhard-cyrl</key>
		<string>uni044A</string>
		<key>signsoft-cyrl</key>
		<string>uni044C</string>
		<key>sixinferior</key>
		<string>uni2086</string>
		<key>sixsuperior</key>
		<string>uni2076</string>
		<key>ssmallcapital</key>
		<string>uniA731</string>
		<key>strokelongcomb</key>
		<string>uni0336</string>
		<key>tcedilla</key>
		<string>uni0163</string>
		<key>te-cyrl</key>
		<string>uni0442</string>
		<key>telephonesign</key>
		<string>uni2121</string>
		<key>teshdigraph</key>
		<string>uni02A7</string>
		<key>thetasymbol-grek</key>
		<string>uni03D1</string>
		<key>threeemdash</key>
		<string>uni2E3B</string>
		<key>threefifths</key>
		<string>uni2157</string>
		<key>threeinferior</key>
		<string>uni2083</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>tsdigraph</key>
		<string>uni02A6</string>
		<key>tse-cyrl</key>
		<string>uni0446</string>
		<key>tshe-cyrl</key>
		<string>uni045B</string>
		<key>tsmallcapital</key>
		<string>uni1D1B</string>
		<key>twobar</key>
		<string>uni01BB</string>
		<key>twoemdash</key>
		<string>uni2E3A</string>
		<key>twofifths</key>
		<string>uni2156</string>
		<key>twoinferior</key>
		<string>uni2082</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
		<key>twothirds</key>
		<string>uni2154</string>
		<key>twotone</key>
		<string>uni01A8</string>
		<key>u-cyrl</key>
		<string>uni0443</string>
		<key>uF000</key>
		<string>uniF000</string>
		<key>ucaron</key>
		<string>uni01D4</string>
		<key>udieresisacute</key>
		<string>uni01D8</string>
		<key>udieresiscaron</key>
		<string>uni01DA</string>
		<key>udieresisgrave</key>
		<string>uni01DC</string>
		<key>udieresismacron</key>
		<string>uni01D6</string>
		<key>udotbelow</key>
		<string>uni1EE5</string>
		<key>uhookabove</key>
		<string>uni1EE7</string>
		<key>uhornacute</key>
		<string>uni1EE9</string>
		<key>uhorndotbelow</key>
		<string>uni1EF1</string>
		<key>uhorngrave</key>
		<string>uni1EEB</string>
		<key>uhornhookabove</key>
		<string>uni1EED</string>
		<key>uhorntilde</key>
		<string>uni1EEF</string>
		<key>ushort-cyrl</key>
		<string>uni045E</string>
		<key>usmallcapital</key>
		<string>uni1D1C</string>
		<key>ve-cyrl</key>
		<string>uni0432</string>
		<key>vsmallcapital</key>
		<string>uni1D20</string>
		<key>vturned</key>
		<string>uni028C</string>
		<key>wsmallcapital</key>
		<string>uni1D21</string>
		<key>wturned</key>
		<string>uni028D</string>
		<key>ya-cyrl</key>
		<string>uni044F</string>
		<key>ydotbelow</key>
		<string>uni1EF5</string>
		<key>yeru-cyrl</key>
		<string>uni044B</string>
		<key>yhookabove</key>
		<string>uni1EF7</string>
		<key>yi-cyrl</key>
		<string>uni0457</string>
		<key>ysmallcapital</key>
		<string>uni028F</string>
		<key>ytilde</key>
		<string>uni1EF9</string>
		<key>yu-cyrl</key>
		<string>uni044E</string>
		<key>zbar</key>
		<string>uni01B6</string>
		<key>ze-cyrl</key>
		<string>uni0437</string>
		<key>zeroinferior</key>
		<string>uni2080</string>
		<key>zerosuperior</key>
		<string>uni2070</string>
		<key>zerothirds</key>
		<string>uni2189</string>
		<key>zhe-cyrl</key>
		<string>uni0436</string>
		<key>zsmallcapital</key>
		<string>uni1D22</string>
	</dict>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>__Be-cyrl</string>
		<string>__Be-cyrl_2</string>
		<string>__Dje-cyrl</string>
		<string>__El-cyrl</string>
		<string>__Gheupturn-cyrl</string>
		<string>__Nje-cyrl</string>
		<string>__Signhard-cyrl</string>
		<string>__Theta-grek</string>
		<string>__Tse-cyrl</string>
		<string>__Tse-cyrl_2</string>
		<string>__Tshe-cyrl</string>
		<string>__el-cyrl</string>
		<string>__nje-cyrl</string>
		<string>__signhard-cyrl</string>
		<string>__tse-cyrl</string>
		<string>Longs</string>
		<string>__AE</string>
		<string>__AE_2</string>
		<string>__Abreveacute</string>
		<string>__Abrevegrave</string>
		<string>__Abrevehookabove</string>
		<string>__Abrevetilde</string>
		<string>__Acircumflexacute</string>
		<string>__Acircumflexgrave</string>
		<string>__Acircumflexhookabove</string>
		<string>__Acircumflextilde</string>
		<string>__Dtopbar</string>
		<string>__Eth</string>
		<string>__Hbar</string>
		<string>__Oslash</string>
		<string>__Udieresisacute</string>
		<string>__Udieresismacron</string>
		<string>__cent</string>
		<string>__copyright</string>
		<string>__copyright_2</string>
		<string>__dcroat</string>
		<string>__dollar</string>
		<string>__eng</string>
		<string>__f</string>
		<string>__lshash</string>
		<string>__oslash</string>
		<string>__qsmallcapital</string>
		<string>__registered</string>
		<string>__sterling</string>
		<string>__sterling_2</string>
		<string>__tbar</string>
		<string>acutecombsmall</string>
		<string>gravecombsmall</string>
		<string>hookcombsmall</string>
		<string>middotcomb</string>
		<string>primecomb</string>
	</array>
</dict>
</plist>
